.footer-container {
  background-color: rgb(146, 146, 148);
}

.wave-footer-wrapper {
  height: 5vw;
  max-height: 100px;
  position: relative;
  margin-bottom: -5px;
}

.wave-footer-inner {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.wave-footer {
  width: 100%;
  height: 100%;
}

.social-logo-sm {
  width: 35px;
  height: auto;
  padding: 10px;
  filter: opacity(0.5);
  transition: all .2s ease-in-out;
}

.social-logo-sm:hover {
  filter: none;
  transform: scale(1.2);
}