.intro-absolute-wrapper {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
}

.intro-section-container {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  margin-bottom: -150px;
}

.intro-section-inner {
  padding-top: 20vh; 
  position: relative;
  margin: auto;
}

.intro-content {
  max-width: 100%;
  z-index: 100;
}

.scroll-down-arrow-container {
  width: 100%;
  bottom: 200px;
  position: absolute;
}