.intro-section-container {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  margin-bottom: -150px;
}

.intro-section-inner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-content {
  max-width: 100%;
  z-index: 100;
}