.intro-section-container {
  background-color: #212121;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.p-grid {
  max-width: 100%;
}