.skills-section-container {
  min-height: 300px;
  background-color: rgb(18, 22, 39);
}

.skills-section-grid {
  margin: 0px 7vw;
}

.skill-logo-sm {
  height: auto;
  width: auto;
  max-height: 80px;
  max-width: 100px;
  padding: 10px;
}

.wave-bar {
  width: 100%;
  margin-bottom: -8vw;
}
