.skills-section-container {
  min-height: 300px;
  background-color: rgb(18, 22, 39);
  margin: -5px 0px;
}

.skills-section-grid {
  margin: 0px 7vw !important;
}

.skill-logo-sm {
  height: auto;
  width: auto;
  max-height: 80px;
  max-width: 100px;
  padding: 10px;
}

.wave-bar-wrapper {
  height: 15vw;
  max-height: 120px;
  position: relative;
}

.wave-bar-inner {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.wave-bar {
  width: 100%;
  height: 100%;
}
