.button {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  padding: 10px 20px;
  user-select: none;
  transition-timing-function: ease-in;
  transition: 0.1s;
  margin: 5px;
  display: inline-block;
}

.button:active {
  opacity: 0.8;
  transform: translate(1px, 1px);
  box-shadow: inset 2px 3px 0 rgba(0,0,0,.4);
  transition-timing-function: ease-out;
  transition: 0.1s;
}
