.project-card-container {
  margin: 10px;
  height: 250px;
  width: 250px;
  border-radius: 60px;
  position: relative;
  background-color: black;
  display: inline-block;
}

.project-card-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3; 
  border-radius: inherit;
  box-shadow: inherit;
}

.project-card-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-card-content {
  position: relative;
  margin: 10px;
  height: 100%;
}

.project-card-description {
  min-height: 120px;
  padding: 5px 0px;
}

.project-card-link-section {
  margin: 10px;
}